body{
	margin: 0px;
	padding: 0px;
}

h1{
	margin: 0px;
	padding: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
}

.ppt{
	margin: 30px auto;
	width: 1200px;
}

.ppt h1{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	padding-bottom: 10px;
}

.infos{
	margin: 0px auto;
	width: 1200px;
}

.infos ul li{
	width: 1200px;
	line-height: 40px;
	font-size: 18px;
	border-bottom: 1px dashed #8a8a8a;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.infos ul li a{
	text-decoration: none;
	color: black;
	padding: 0px 0px 0px 0px;
}

.infos ul li a:hover{
	color: #f60;
	padding: 5px 0px 0px 10px;
}