*{
	margin: 0;
	padding: 0;
}

.total{
	width: 100vw;
	height: 100vh;
	background: url(../images/背景2.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-content{
	position: relative;
	width: 800px;
	height: 360px;
	background:linear-gradient(to right,#6cdabb,#3bc48d,#089cbd);
	border-radius:30px;
	padding:30px;	
}

.banner-box{
	display: inline-block;
	width: 500px;
	height: 100%;
	background: url(../images/背景2.jpg) no-repeat;
	background-size: cover;
	border-radius: 30px 0 0 30px;
}

.login-box{
	width: 330px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 30px 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form{
	width: 330px;
	height: 100%;
	position: absolute;
	top: 170px;
	right: 0;
	border-radius: 0 30px 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-box>h1{
	font-size: 36px;
	margin: 60px;
	color: #fff;
}

.login-box>form>input{
	margin-bottom: 20px;
	width: 200px;
	height: 36px;
	border-radius: 20px;
	padding-left: 10px;
	border: none;
	outline: none;
	font-size: 18px;
}

.login-box>form>input:hover{
	box-shadow: 2px 2px 5px #555;
}

.login-btn{
	margin-top: 20px;
	width: 200px;
	height: 30px;
	background-color: #811bc5;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	color: #fff;
	padding-right: 8px;
}

button:hover{
	box-shadow: 3px 3px 5px #555;
	background-color: #7799d4;
}

@media screen and (max-width:900px){
	.login-content{
		margin: 0 30px;
	}

	.banner-box{
		border-radius: 20px;
	}
	.login-box{
		background-color: rgba(52, 0, 73, 0.5);
	}
}

@media screen and (max-width:600px){
	.total{
		background: url(../images/背景2.jpg) no-repeat center;
	}
	.login-content{
		background-color: transparent;
	}
	.banner-box{
		display: none;
	}
	.login-box{
		position: initial;
		margin: -40 auto;
		background-color: transparent;
	}
	form{
		position: initial;
		margin: -40 auto;
		background-color: transparent;
	}
}